.header__lang-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

.header__lang-link:not(:last-child) {
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}
