.place__title {
  margin: 0;
  padding: 0;
  grid-area: title;
  align-self: end;
}

@media screen and (min-width: 1280px) {
  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 46px;
  }
}