.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding-top: 28px;
  box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
  .page {
    min-width: 100%;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page {
    min-width: 100%;
    max-width: 1279px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page {
    min-width: 100%;
    max-width: 1023px;
  }
}

@media screen (min-width: 425px) and (max-width: 767px) {
  .page {
    min-width: 100%;
    max-width: 767px;
  }
}

@media screen (max-width: 424px) {
  .page {
    min-width: 100%;
    max-width: 424px;
    padding-top: 16px;
  }
}
