.page {
  width: 100%;
  background-color: #2a2c2f;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 28px 0 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 1600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page {
    max-width: 1279px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page {
    max-width: 1023px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .page {
    max-width: 767px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 424px) {
  .page {
    max-width: 424px;
    padding-top: 16px;
  }
}