.photo-grid {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: calc(100% - 48px * 2);
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 6px;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: calc(100% - 48px * 2);
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    gap: 14px;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 16px * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 12px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    width: calc(100% - 16px * 2);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
    margin-bottom: 64px;
  }
}
