.places {
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 148px * 2);
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    width: calc(100% - 48px * 2);
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    width: calc(100% - 24px * 2);
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .places {
    width: 100%;
    margin-bottom: 66px;
  }
}