.places {
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 148px * 2);
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    width: calc(100% - 48px * 2);
    margin-bottom: 92px;
  }
}