.intro__list {
  margin: 0;
  padding: 0;
  max-width: 690px;
  min-height: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .intro__list {
    max-width: 288px;
  }
}

@media screen and (max-width: 424px) {
  .intro__list {
    max-width: 288px;
  }
}
