.lead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .lead {
    width: calc(100% - 148px * 2);
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px * 2);
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen (min-width: 425px) and (max-width: 767px) {
  .lead {
    width: 100%;
    margin-bottom: 64px;
  }
}

@media screen (max-width: 424px) {
  .lead {
  }
}
