.cover__subtitle {
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
