.header__logo {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    max-width: 176px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__logo {
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
  }
}

@media screen (min-width: 425px) and (max-width: 767px) {
  .header__logo {
  }
}

@media screen (max-width: 424px) {
  .header__logo {
  }
}