.header {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .header {
    min-width: 1184px;
    min-height: 52px;
    padding: 28px 48px 0;
    
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    padding: 28px auto 48px;
    min-width: 928px;
    min-height: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    
  }
}

@media screen (min-width: 425px) and (max-width: 768px) {
  .header {
    
  }
}

@media screen (max-width: 425px) {
  .header {
    
  }
}