.footer__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .footer__link {
    margin-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}
