.footer__links {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: start;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    margin-bottom: 48px;
  }
}