.place__paragraph {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
  }

  .place__paragraph:not(:last-of-type) {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
  }
  .place__paragraph:not(:last-of-type) {
    margin-bottom: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
  .place__paragraph:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .place__paragraph:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .place__paragraph:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
