.footer__copyright {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .footer__copyright {
    max-width: 186px;
    min-height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    max-width: 186px;
    min-height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__copyright {
    max-width: 186px;
    min-height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
  }
}