.lead__image {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    margin-bottom: 8px;
  }
}