.intro {
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 690px;
    min-height: 429px;
    margin-left: 148px;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: 690px;
    min-height: 429px;
    margin-left: 48px;
    margin-bottom: 92px;
  }
}
