.lead__subtitle {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}

@media screen (min-width: 425px) and (max-width: 767px) {
  .lead__subtitle {
  }
}

@media screen (max-width: 424px) {
  .lead__subtitle {
  }
}
