.place__link {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity 0.5s ease;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 424px) {
  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}