.lead__caption {
  margin: 0;
  padding: 0;
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    max-width: 160px;
    min-height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    max-width: 160px;
    min-height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    max-width: 160px;
    min-height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-right: 24px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__caption {
    max-width: 160px;
    min-height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-right: 16px;
  }
}