.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .footer {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: start;
    margin-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    justify-content: start;
    margin-left: 16px;
  }
}