.place__website {
  grid-area: website;
  align-self: end;
  justify-self: start;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place__website {
    margin-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    margin-left: 16px;
  }
}
