.intro__title {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .intro__title {
    max-width: 690px;
    min-height: 58px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
  }
}
