.intro__title {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .intro__title {
    max-width: 690px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__title {
    max-width: 690px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    min-height: 70px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}